.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3da09a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}
#header-text {
  position: relative;
  left: 10px;
}
#list_of_authors {
  text-align: left;
  position: relative;
  left: 30px;
}
#author_blog_entry {
  margin-top: 20px;
  position: relative;
  left: 50px;
  border-style: solid;
  border-color: red;
  width: 70%;
  white-space: pre-wrap;
}
#text_in_blog_entry{
  position: relative;
  left: 60px;
}
#title{
  font-size: calc(7px + 2vmin);
}
#description{
  font-size: calc(1px + 2vmin);
}

.App-link {
  color: #61dafb;
}
